body {
	background: url(../images/signup.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	 background-size: 100% 100%;
 
  	margin-left: auto;
  	margin-right: auto;
    width: 48%;
    margin-top: 15%;
}
/*remove bulllets from the list of nav option*/
/*let the nav bar display inline*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 1px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
  
a {
	color: yellow;
	font-family: Tahoma, Geneva, sans-serif;
	margin: 30px;
}

.congrats{
	background: rgba(44,62,80,0.7);
	padding: 40px;
	height:200px;
	margin-left: 180px;
	margin: 0 auto;
	margin-top: 120px
	width:240px;
}

h2{
	margin-top: 50px;
	margin-left: 10px;
}